
  .container {
    background-color: #9da19f;
    border-radius: 5px;
    height: 60vh;
    width: 60%;
    margin: auto;  
  }

  .container h1 {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-top: 1%;
  }
  
  .container a {
    text-decoration: none;
    color: lightblue;
  }
  .formulario{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
  }
  .formulario .contenido{
    align-items: center;
    width: 60%;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
  }
  .formulario label,select{
    font-size: 1.5rem;
    width: 50%;
  }
  
  .formulario input{
    font-size: 1.2rem;
    width: 50%;
    margin-top: 1%;
  }
  

  
  
  .btn {
    cursor: pointer;
    background: rgb(88, 58, 23);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin-top: 1%;
    width: 30% !important;
  }
  
  .btn:focus {
    outline: 0;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .text {
    margin-top: 30px;
  }
