body{
    background-color: #BDBEC3;
}


#main-header img{
   width: 15%;
   height: auto;
   border-radius: 100%;
}
.header-element{
    display: inline;
    vertical-align:middle;
    margin-left: 1%;
}
.header-element a{
    margin-left: 1%;
}
#user{
    display: inline;
}
.input-div{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}
#mapEditor{
    overflow-x: scroll;
}
.input-div label{
    display: block;
}
#user img{
    border-radius: 50%;
    width: 5%;
    height: auto;
}
#slides input.set{
    display:none; 
}
.mask{
    height: 200% !important;
}

#slide1:checked ~ .mask .overflow { margin-left:0; }
#slide2:checked ~ .mask .overflow { margin-left:-100%; }
#slide3:checked ~ .mask .overflow { margin-left:-200%; }
#slide4:checked ~ .mask .overflow { margin-left:-300%; }

#slides { margin:50px auto; width:80%; position:relative; }
#slides .mask { width:90%; overflow:hidden; margin:auto; }
#slides .overflow { 
    width:400%;
    height: 60vh !important;
    transform:translateZ(0);
    transition:all 0.5s ease-out; 
    transition:all 0.5s ease-out; 
    transition:all 0.5s ease-out; 
    transition:all 0.5s ease-out; 
}

#slides .slide { 
    width:25%; 
    height: 60vh !important;
    
    float:left; 
    background: rgb(66, 75, 117); }
#controls { width:100%; }
#controls label { 
    display:none;
    color: white;
    font-size: 5vh;
    width:5%; 
    height:60px; 
    opacity:0.3; 
    position:absolute; 
    top:50%; 
    margin-top:-30px; 
    cursor:pointer; 
    background:#000; }
#controls label:hover { opacity:0.8; }
#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { 
    right:0; 
    display:block; 
}

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { 
    left:0;
     display:block;
}
.mask{
    height: 60vh !important;
}
.slide h1{
    text-align: center;
    font-size: 11vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.slide p{
    color: white;
    text-align: center;
    padding: 2vw;
    font-size: 2vh;
}